/*selector de etiqueta*/
h2{
    color:green;
}

/*Selector id*/
#otro_titulo{
    color:purple;    
}

/*Selector de clases*/ 
.elemento{
     color: blue;
}

.primero{
    text-decoration: underline;
}
